@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --background: #013243;
    --background-white: #FFFFFF;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --text-blue: #86BFD3;
    --text-grey: #8D8D8D;
    --border: #BCBCBC;

    --font-principal: 'Roboto', sans-serif;
    --font-login:'DM Sans', sans-serif;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

body {
    background-image: url("Assets/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 25vh;
    
}

.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gradie-container{
    background-color: var(--background);
    width: 300px;
    height: 375px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    position: relative;
}

.gradie-container h2{
    color: var(--text-white);
    margin-top: 30px;
}

.gradie-container p{
    color: var(--text-grey);
    font-size: 13px;
    margin-top: 5px;
    text-shadow: 1px 1px #fefefe2f;
}

.img-iphone{
    width: 98%;    
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LOGIN */
.login-container{
    background-color: var(--background-white);
    width: 300px;
    height: 375px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #99999963;
}

.login-container h1{
    margin-top: 30px;
    font-size: 31px;
    margin-left: 40px;
}

.form{
    margin-top: 15px;
    margin-left: 40px;
}

.form .email, .password{
    font-size: 13px;
    font-weight: 700;
}

.form .email .senha{
    margin-top: 5px;
    margin-left: 40px;
}

.form .input-email{
    margin-bottom: 15px;
}

.form .input-email, .input-password{
    width: 190px;
    padding: 10px;
    border: 1px solid #999;
}

.check-box{
    margin-top: 20px;
    font-size: 14px;
    padding: 0px 50px 0px 0px;
    cursor: pointer;
    text-shadow: 0.5px 0.5px #0000004d
}

.check-box .check, a{
    color: #003142;
    font-weight: 800;
}

/* BOTÃO */
.btn-container{
    text-align: center;
}

.btn-container button{
    background-color: #003142;
    color: #FEFEFE;
    border: 0;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 25vh;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 650px){
    body{
        background-image: url("/Assets/Background.png");
    }

    .gradie-container{
        border-radius: 0px 0px 0px 0px;
    }

    .gradie-container h1{
        font-size: 30px;
    }
}

@media(max-width: 630px){
    .login-container{
        border-radius: 0px 0px 10px 10px;
    }

    .login-container h2{
        font-size: 27px;
    }
}
